* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #d3d616, #949e77);
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.key_1 {
    z-index: 10;
    display: inline-block;
    width: 65px;
    height: 90px;
    margin: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 80px;
    margin-top: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    user-select: none;
}

.key_2 {
    z-index: 10;
    display: inline-block;
    width: 65px;
    height: 90px;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    line-height: 80px;
    margin-top: auto;
    cursor: pointer;
    border-radius: 5px;w
    user-select: none;
}

.key_1:hover , .key_2:hover {
    background-color: #555;
}

.key_1:active , .key_2:active {
    transform: scale(0.95);
}

.tiles-area{
    position: absolute;
    top: 0;
    left: 50.1%;
    width: 263px;
    height: 100vh;
    background-color: rgba(238, 238, 229, 0.8);
    border: 1px solid #333;
    transform: translateX(-50%);
    overflow: hidden;
    border-left: 2px solid #555;
    border-right: 2px solid #555;
}

.tile {
    transition: background-color 0.3s ease;
}